@import './fonts.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --disabled: #667085;

    --chatground: 239 240 242;

    --chatbox-me-box: #0c8aff;
    --chatbox-me-text: #ffffff;

    --chatbox-others-box: #ffffff;
    --chatbox-others-text: #0e181e;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    /* --primary: 24 9.8% 10%; */
    --primary: 209 100% 52%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    --primary-background: 0 0% 93%;

    --font-1: 'Black And White Picture';
    --font-2: 'BMEuljiro10yearslater';
    --font-3: 'Cafe24Ssukssuk';
    --font-5: 'CookieRun-Regular';
    --font-6: 'East Sea Dokdo';
    --font-7: 'DOSGothic';
    --font-8: 'DX납량특집';
    --font-13: 'HanS CalliPunch';
    --font-15: 'HSGyoulnoonkot';
    --font-16: 'hypmokgak-bold';
    --font-20: 'Jeju Hallasan';
    --font-21: 'JSArirangHON-Regular';
    --font-24: 'MapoDacapo';
    --font-25: 'MapoHongdaeFreedom';
    --font-26: 'Jayoo';
    --font-27: 'Nanum Brush Script';
    --font-29: 'gabia_napjakBlock';
    --font-32: 'Rix토이그레이';
    --font-33: 'SANGJUDajungdagam';
    --font-37: 'Single Day';
    --font-43: 'WindyLavender';
    --font-49: 'Jeonju_gakR';

    --color-A: #ef8482;
    --color-B: #ffd762;
    --color-C: #ec609c;
    --color-D: #ffa31d;
    --color-E: #00f0a5;
    --color-F: #f5c3af;
    --color-G: #ea89d7;
    --color-H: #64a2ff;
    --color-I: #913df3;
    --color-J: #564cff;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 60 9.1% 97.8%;

    --disabled: #667085;

    --chatground: 14 24 30;

    --chatbox-me-box: #9cd0ff;
    --chatbox-me-text: #0e181e;

    --chatbox-others-box: #1e2a32;
    --chatbox-others-text: #eff0f2;

    --card: 20 14.3% 4.1%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: #333333;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'NanumSquare', sans-serif;
  }
}

@layer components {
  .pc-main-grid {
    @apply flex grid-cols-[minmax(10dvw,20dvw)_3fr_minmax(10dvw,20dvw)] sm:grid;
  }
  .elevation-t {
    position: relative;
  }
  .elevation-t::before {
    @apply bg-gradient-to-t !from-chatground !to-chatground/0;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
    transition: top 0.5s ease-in-out;
  }
  .scrolling.elevation-t::before {
    top: 0;
  }

  .logo {
    @apply font-logo font-extrabold;
  }
}

.text-clamp {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* 라인수 */
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}
